PRODUCT_SERVER_PORT=8082
LOG_LEVEL=-4

EXTERNAL_PORT=49782
APP_CONTAINER_PORT=8082

DOCKER_LOGIN=your_docker_login

PRODUCT_DATABASE_HOST=postgres
PRODUCT_DATABASE_PORT=5432
PRODUCT_DATABASE_USER=postgres
PRODUCT_DATABASE_PASSWORD=your_password
PRODUCT_DATABASE_NAME=mapps_products_db

# GitHub Actions secrets
# DB_STRING_TEST="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
